div{
    height: 200px;
    width:200px;

}
p{
    margin:0;
}

.box1{
    background-color: antiquewhite;
    border: solid 10px black;
    padding: 20px;
    margin: ;
}
.box2{
    background-color: blue;
    height: 200px;
    width: 200px;
    border:solid black;
    border-width: 20px 10px;


}

.box3{
    background-color: black;
    

}